:host{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main{
    position: absolute;
    top: 70px;
    left: 0px;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
}