<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img style="height: 50px; max-width: 40vw;" src="assets/img/rapy_aves.png" alt="">
        <a style="font-size: 28px;" class="navbar-brand text-light" href="#"><strong>Rapy Aves</strong></a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 *ngIf="admin === false" class="offcanvas-title" id="offcanvasNavbarLabel">Lista de Opciones</h5>
                <h5 *ngIf="admin" class="offcanvas-title" id="offcanvasNavbarLabel">Administración</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li *ngIf="!admin" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/home']" [queryParams]="{ categoria: 'all' }"
                                    class="dropdown-item cursor-pointer">Todo</a></li>
                            <li><a [routerLink]="['/home']" [queryParams]="{ categoria: 'Bandeja' }"
                                    class="dropdown-item cursor-pointer">Bandeja</a></li>
                            <li><a [routerLink]="['/home']" [queryParams]="{ categoria: 'Sopa' }"
                                    class="dropdown-item cursor-pointer">Sopa</a></li>
                            <li><a [routerLink]="['/home']" [queryParams]="{ categoria: 'Pollo' }"
                                    class="dropdown-item cursor-pointer">Pollo</a></li>
                            <li><a [routerLink]="['/home']" [queryParams]="{ categoria: 'Bebidas' }"
                                    class="dropdown-item cursor-pointer">Bebidas</a></li>
                            <li><a [routerLink]="['/home']" [queryParams]="{ categoria: 'Porciones' }"
                                    class="dropdown-item cursor-pointer">Porciones</a></li>
                            <li><a [routerLink]="['/home']" [queryParams]="{ categoria: 'Combo Personal' }"
                                    class="dropdown-item cursor-pointer">Combo Personal</a></li>
                        </ul>
                    </li>
                    <li *ngIf="!admin" class="nav-item">
                        <a class="nav-link cursor-pointer" aria-current="page" [routerLink]="['/admin']" [queryParams]="{ option: 'Usuarios' }">Administración</a>
                    </li>
                    <li *ngIf="admin" class="nav-item">
                        <a class="nav-link cursor-pointer" aria-current="page" [routerLink]="['/admin']" [queryParams]="{ option: 'Usuarios' }">Usuarios</a>
                    </li>
                    <li *ngIf="admin" class="nav-item">
                        <a class="nav-link cursor-pointer" aria-current="page" [routerLink]="['/admin']" [queryParams]="{ option: 'Productos' }">Productos</a>
                    </li>
                    <li *ngIf="admin" class="nav-item">
                        <a class="nav-link cursor-pointer" aria-current="page" [routerLink]="['/home']" [queryParams]="{ categoria: 'all' }">Home</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="logout()" class="nav-link text-danger cursor-pointer" aria-current="page"
                            href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>